{{!-- {{outlet}} --}}

<section id="index">
  <iframe src="http://api.innovatenb.org:3002/dashboard-solo/db/new-dashboard?panelId=1&fullscreen&theme=light" frameborder="0"></iframe>
  <iframe src="http://api.innovatenb.org:3002/dashboard-solo/db/new-dashboard?panelId=1&fullscreen&theme=light" frameborder="0"></iframe>
</section>